:root {
    --bg-colour: #cad2c5;
    --main-colour: #84a98c;
    --header-colour: #52796f;
    --nav-colour: #354f52;
    --text-colour: #1B2720;
}

body {
    background-color: var(--bg-colour);
    margin: 0;
    padding: 0;
    color: var(--text-colour);
}

header {
    background-color: var(--header-colour);
    text-align: center;
    color: var(--bg-colour);
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-colour);
}

nav a {
    display: block;
    color: var(--bg-colour);
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--main-colour);
    color: var(--text-colour);
}

main {
    margin: auto;
    width: 50%;
    background-color: var(--main-colour);
    padding: 25px;
}

footer {
    background-color: var(--header-colour);
    text-align: center;
    color: var(--bg-colour);
    padding: 8px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--header-colour);
    padding: 10px;
    width: 50%;
    margin: auto;
}

.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-colour);
    border: 3px solid var(--header-colour);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    aspect-ratio: 1;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid var(--nav-colour);
    padding: 8px;
}

tr:nth-child(even){
    background-color: var(--bg-colour);
}

tr:hover{
    background-color: var(--header-colour);
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--nav-colour);
    color: var(--bg-colour);
}