<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>Super Sorter 3400</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/leaderboard">Leaderboard</a>
        <a href="/game">Play Game</a>
    </nav>

    <main>
        {{{ content }}} <!-- Page-specific content goes here -->
    </main>

    <footer>
        <p>CSCN73060 | Group 7 | Winter 2026</p>
    </footer>
</body>
</html>