<h2 style="text-align: center;">Leaderboard</h2>

<p style="text-align: center;">
    Average Moves: <span id="avgMoves">0</span> | Average Time: <span id="avgTime">00:00:00</span>
</p>

<table id="leaderboard">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Moves</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <!-- dynamically populated by script -->
    </tbody>
</table>

<script type="module" src="../static/js/leaderboard.js"></script>